<template>
  <graphic-split-page>
    <form
      @submit.prevent="createCompany"
      class="standard-form margin-auto width"
    >
      <h3>Add Your Company</h3>
      <label for="company">Company Name</label>
      <input
        required
        v-model="companyDict.company.name"
        type="text"
        placeholder="Company Name"
      />
      <label for="office">Office Name</label>
      <input
        required
        v-model="companyDict.name"
        type="text"
        placeholder="Office Name"
      />
      <p class="description" style="margin-left: 32px">
        The office name is just a way to identify which location you work in. It
        can be the name, suburb, state, country, anything to help identify it to
        other users.
      </p>
      <primary-button class="submit-button" title="Submit" />
    </form>
  </graphic-split-page>
</template>

<script>
import { createCompany } from "../api/requests/company.js";
import GraphicSplitPage from "../components/GraphicSplitPage.vue";
import PrimaryButton from "../components/PrimaryButton.vue";
import { mapActions } from "vuex";

export default {
  name: "AddCompany",
  components: { GraphicSplitPage, PrimaryButton },
  data: function () {
    return {
      companyDict: {
        name: "",
        company: {
          name: "",
        },
      },
    };
  },
  methods: {
    createCompany: function () {
      createCompany(this.companyDict)
        .then((response) => {
          this.$router.push({
            name: "Company",
            params: {
              id: response.company.id,
            },
          });
        })
        .catch((error) => {
          this.addError(error);
        });
    },
    ...mapActions({
      addError: "errorStore/addError",
    }),
  },
};
</script>

<style lang="scss" scoped>
.width {
  width: 80%;
}
</style>
