<template>
  <div ref="comppage" v-if="company">
    <div class="company-header border-shadow">
      <div class="ratings-container">
        <div class="company-container span-two flex-row">
          <div class="flex-column">
            <img
              :src="company.logo ? company.logo : '/assets/nologo.png'"
              alt=""
            />
            <input
              v-if="company.is_creator"
              type="file"
              ref="file"
              style="display: none"
              @change="onFileSelect"
            />
            <primary-button
              class="vertical-spacing-top"
              v-if="!company.logo && isLoggedIn() && company.is_creator"
              title="Add Logo"
              v-on:click="$refs.file.click()"
            />
          </div>
          <div class="text-container">
            <h1>{{ company.name }}</h1>
            <h3>
              {{ company.offices.length }}
              {{ company.offices.length == 1 ? "Office" : "Offices" }},
              {{ company.ratings.count }}
              {{ company.ratings.count == 1 ? "Rating" : "Ratings" }}
            </h3>
          </div>
        </div>
        <div class="flex-row">
          <div>
            <p class="rating-title">Average Personal Rating</p>
            <p class="rating-message">
              The Personal Rating is based on how much the raters like to work
              there.
            </p>
          </div>
          <div class="graph-container">
            <apexchart
              height="162"
              type="radialBar"
              :options="options"
              :series="avgPersonalSeries"
            ></apexchart>
          </div>
        </div>
      </div>
      <div class="ratings-container">
        <div v-for="(rating, i) in getSeriesData()" v-bind:key="i">
          <div class="flex-row">
            <div>
              <p class="rating-title">{{ rating.title }}</p>
              <p class="rating-message">{{ rating.message }}</p>
            </div>
            <div class="graph-container">
              <apexchart
                height="162"
                type="radialBar"
                :options="options"
                :series="[Math.round((rating.series / 5) * 100)]"
              ></apexchart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row vertical-spacing">
      <primary-button
        v-if="isLoggedIn()"
        class="flex-row-end"
        :title="leavingRating ? 'Hide Rating' : 'Leave a Rating'"
        v-on:click="leavingRating = !leavingRating"
      />
      <primary-button
        v-if="!isLoggedIn()"
        class="flex-row-end"
        :title="'Sign Up to Leave a Rating'"
        v-on:click="goToSignUp()"
      />
      <primary-button
        style="margin-right: 8px"
        :title="showFilters ? 'Hide Filters' : 'Show Filters'"
        v-on:click="showFilters = !showFilters"
      />
    </div>
    <div v-if="leavingRating" class="leave-rating-container shadow flex-row">
      <form
        @submit.prevent="submitRating()"
        class="standard-form"
        style="flex-direction: row; font-size: 1.2em"
      >
        <div class="standard-form flex-grow">
          <label>Office (*):</label>
          <select required v-model="officeValue">
            <option
              v-for="office in company.offices"
              v-bind:key="office.id"
              :value="office.id"
            >
              {{ office.name }}
            </option>
            <option value="Other">-- Other --</option>
          </select>
          <input
            type="text"
            v-model="officeString"
            v-if="officeValue == 'Other'"
            :required="officeValue == 'Other'"
            placeholder="Office Name"
          />
          <label>Identifies As (*):</label>
          <div class="flex-row" v-for="(minority, i) in getMinorities()" v-bind:key="i">
            <input v-model="newRatingDict.minority" class="flex-center-vertical" type="checkbox" :value="minority">
            <p class="flex-row-start flex-center-vertical">{{ minority }}</p>
          </div>
          <!-- <select required v-model="newRatingDict.minority">
            <option value="">-- Select One --</option>
            <option
              v-for="(minority, i) in getMinorities()"
              :value="minority"
              v-bind:key="i"
            >
              {{ minority }}
            </option>
          </select> -->
          <input
            type="text"
            placeholder="Minority Description"
            v-model="newRatingDict.minority_description"
          />
          <p class="description">
            This field is optional. You can use it to define your minority more
            descriptively if you want to. An example would be Female for Gender.
          </p>
          <label>Role (*):</label>
          <input
            required
            type="text"
            placeholder="Engineer, Designer, etc"
            v-model="newRatingDict.role"
          />
          <p class="description">This is your job at the company.</p>
        </div>
        <div class="standard-form flex-grow">
          <label>Personal Rating (*):</label>
          <p class="description" style="text-align: left">
            This is how much you enjoy working here. This is the only compulsary
            rating. Feel free to rate as many or as little of the specifics of
            your company as you want.
          </p>
          <star-rating
            required
            v-model:rating="newRatingDict.personal_rating"
            :star-size="20"
          ></star-rating>

          <label>Attrition Rating:</label>
          <p class="description" style="text-align: left">
            This is how often people of your minority stay here.
          </p>
          <star-rating
            v-model:rating="newRatingDict.attrition_rating"
            :star-size="20"
          ></star-rating>
          <label>Culture Rating:</label>
          <p class="description" style="text-align: left">
            This is how you feel people of your minority are treated compared to
            their peers.
          </p>
          <star-rating
            v-model:rating="newRatingDict.culture_rating"
            :star-size="20"
          ></star-rating>
          <label>Flexibility Rating:</label>
          <p class="description" style="text-align: left">
            This is how well this company meets the differing needs and
            requirements that comes with being your minority.
          </p>
          <star-rating
            v-model:rating="newRatingDict.flexibility_rating"
            :star-size="20"
          ></star-rating>
          <label>Payment Rating:</label>
          <p class="description" style="text-align: left">
            This is how people of your minority are compensated compared to
            their peers.
          </p>
          <star-rating
            v-model:rating="newRatingDict.payment_rating"
            :star-size="20"
          ></star-rating>
          <label>Progression Rating:</label>
          <p class="description" style="text-align: left">
            This is how people of your minority are promoted compared to their
            peers.
          </p>
          <star-rating
            v-model:rating="newRatingDict.progression_rating"
            :star-size="20"
          ></star-rating>
          <label>Seniority Representation Rating:</label>
          <p class="description" style="text-align: left">
            This is how people of your minority are represented in the upper
            echelons of this company.
          </p>
          <star-rating
            v-model:rating="newRatingDict.seniority_representation_rating"
            :star-size="20"
          ></star-rating>
        </div>
        <div class="standard-form flex-grow">
          <label>Headline (*):</label>
          <input
            required
            type="text"
            placeholder="Headline"
            v-model="newRatingDict.bi_line"
          />
          <p class="description">
            This is a short headline for your rating (max 255 characters).
          </p>

          <label>Comments</label>
          <p class="description" style="text-align: left">
            You have the floor. Write as much or as little as you want here to
            let everyone know your experience working at this company.
          </p>
          <textarea
            id=""
            v-model="newRatingDict.comments"
            class="flex-grow"
            placeholder="Leave your comments here..."
          ></textarea>
          <secondary-button title="Submit" class="flex-row-end" type="submit" />
        </div>
      </form>
    </div>
    <div class="flex-row">
      <div style="flex-grow: 1">
        <div
          class="rating-container shadow"
          v-for="rating in company.ratings.results"
          v-bind:key="rating.id"
        >
          <div class="flex-row">
            <h3 class="margin-auto flex-row-end">{{ rating.role }}</h3>
          </div>
          <div class="flex-row vertical-spacing">
            <div>
              <h4>{{ rating.office.name }}</h4>
              <div
                class="flex-row vertical-spacing-quarter"
                v-for="(ratingData, i) in getSeriesDataForRating(rating)"
                v-bind:key="i"
              >
                <p
                  style="white-space: nowrap"
                  :style="{ fontWeight: i == 0 ? 'bold' : '' }"
                  class="flex-row-end flex-center-vertical"
                >
                  {{ ratingData.title }}
                </p>
                <p
                  style="white-space: nowrap; margin-right: 8px"
                  class="alphad-text"
                  v-if="ratingData.series == null"
                >
                  No Rating Left
                </p>
                <star-rating
                  :title="ratingData.message"
                  v-if="ratingData.series != null"
                  style="margin-right: 8px"
                  v-model:rating="ratingData.series"
                  :star-size="20"
                  :read-only="true"
                ></star-rating>
              </div>
            </div>
            <div class="rating-comments-container">
              <h3>{{ rating.bi_line }}</h3>
              <h4 class="alphad-text minority-text">
                This user identifies as a member of a minority
                {{ rating.minority }}
                {{
                  rating.minority_description
                    ? "(" + rating.minority_description + ")"
                    : ""
                }}
              </h4>
              <p style="white-space: pre-wrap">{{ rating.comments }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-container-container" v-if="showFilters">
        <div class="filter-container shadow">
          <h4>Office:</h4>
          <select v-model="officeFilter">
            <option value="">-- All --</option>
            <option
              v-for="office in company.offices"
              v-bind:key="office.id"
              :value="office.id"
            >
              {{ office.name }}
            </option>
          </select>
          <h4 class="vertical-spacing-top">Identifies As:</h4>
          <select v-model="minorityFilter">
            <option value="">-- All --</option>
            <option
              v-for="(minority, i) in getMinorities()"
              :value="minority"
              v-bind:key="i"
            >
              {{ minority }}
            </option>
          </select>
          <h4 class="vertical-spacing-top">Sort By:</h4>
          <select v-model="sortByFilter">
            <option value="">Most Recent</option>
            <option value="least_recent">Least Recent</option>
            <option value="best">Highest Rating</option>
            <option value="worst">Lowest Rating</option>
          </select>
          <secondary-button
            class="flex-row-end"
            style="margin-top: 16px; margin-right: 0px"
            title="Apply"
            v-on:click="applyFilters"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  fetchCompany,
  getReviews,
  updateLogo,
} from "../api/requests/company.js";
import { createRating } from "../api/requests/ratings.js";
import VueApexCharts from "vue3-apexcharts";
import PrimaryButton from "../components/PrimaryButton.vue";
import SecondaryButton from "../components/SecondaryButton.vue";
import StarRating from "vue-star-rating";
import { minorities } from "../helpers/constants.js";
import _ from "lodash";
import { mapGetters, mapActions } from "vuex";
import { axiosInstance } from "../api/managers/axiosHandler.js";

export default {
  name: "Company",
  components: {
    apexchart: VueApexCharts,
    PrimaryButton,
    SecondaryButton,
    StarRating,
  },
  data: function () {
    return {
      showFilters: false,
      leavingRating: false,
      company: null,
      officeValue: null,
      officeString: "",
      newRatingDict: {
        minority: [],
        minority_description: "",
        role: "",
        personal_rating: null,
        attrition_rating: null,
        culture_rating: null,
        flexibility_rating: null,
        payment_rating: null,
        progression_rating: null,
        seniority_representation_rating: null,
        bi_line: "",
        comments: "",
      },
      officeFilter: "",
      minorityFilter: "",
      sortByFilter: "",
      avgPersonalSeries: [],
      options: {
        plotOptions: {
          radialBar: {
            startAngle: -145,
            endAngle: 145,
            track: {
              background: "#e7e7e7",
              strokeWidth: "97%",
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                offsetY: 5,
                fontSize: "22px",
              },
            },
          },
        },
        grid: {
          padding: {
            top: -22,
            bottom: -12,
          },
        },
      },
    };
  },
  methods: {
    fetchCompany: function () {
      fetchCompany(this.$route.params.id)
        .then((response) => {
          this.company = response;
          this.avgPersonalSeries = [
            Math.round((response.avg_ratings.personal_rating / 5) * 100),
          ];
          if (this.company.offices[0]) {
            this.officeValue = this.company.offices[0].id;
          } else {
            this.officeValue = "Other";
          }
        })
        .catch((error) => {
          this.addError(error);
        });
    },
    getSeriesData: function () {
      return [
        {
          title: "Attrition",
          series: this.company.avg_ratings.attrition_rating,
          message: "How often people of a minority stay at this company.",
        },
        {
          title: "Culture",
          series: this.company.avg_ratings.culture_rating,
          message:
            "How people of a minority feel about the way they are treated by their peers.",
        },
        {
          title: "Flexibility",
          series: this.company.avg_ratings.flexibility_rating,
          message:
            "How well this company meets the differing needs and requirements that comes with being a minority.",
        },
        {
          title: "Pay",
          series: this.company.avg_ratings.payment_rating,
          message:
            "How people of a minority are compensated compared to their peers.",
        },
        {
          title: "Progression",
          series: this.company.avg_ratings.progression_rating,
          message:
            "How people of a minority are promoted compared to their peers.",
        },
        {
          title: "Senior Representation",
          series: this.company.avg_ratings.seniority_representation_rating,
          message:
            "How people of a minority are represented in the upper echelons.",
        },
      ];
    },
    getSeriesDataForRating: function (rating) {
      return [
        {
          title: "Personal",
          series: rating.personal_rating,
          message: "How often people of a minority stay at this company.",
        },
        {
          title: "Attrition",
          series: rating.attrition_rating,
          message: "How often people of a minority stay at this company.",
        },
        {
          title: "Culture",
          series: rating.culture_rating,
          message:
            "How people of a minority feel about the way they are treated by their peers.",
        },
        {
          title: "Flexibility",
          series: rating.flexibility_rating,
          message:
            "How well this company meets the differing needs and requirements that comes with being a minority.",
        },
        {
          title: "Pay",
          series: rating.payment_rating,
          message:
            "How people of a minority are compensated compared to their peers.",
        },
        {
          title: "Progression",
          series: rating.progression_rating,
          message:
            "How people of a minority are promoted compared to their peers.",
        },
        {
          title: "Senior Representation",
          series: rating.seniority_representation_rating,
          message:
            "How people of a minority are represented in the upper echelons.",
        },
      ];
    },
    getMinorities: function () {
      return minorities;
    },
    applyFilters: function () {
      var filterDict = {};

      if (this.officeFilter) {
        filterDict["office"] = this.officeFilter;
      }
      if (this.minorityFilter) {
        filterDict["minority"] = this.minorityFilter;
      }
      if (this.sortByFilter) {
        filterDict["sort"] = this.sortByFilter;
      }

      getReviews(this.company.id, filterDict)
        .then((response) => {
          this.company.ratings = response;
        })
        .catch((error) => {
          this.addError(error);
        });
    },
    submitRating: function () {
      var ratingDict = _.cloneDeep(this.newRatingDict);
      if (this.officeValue) {
        if (this.officeValue == "Other") {
          ratingDict.office = {
            name: this.officeString,
            company: this.$route.params.id,
          };
        } else {
          ratingDict.office = this.officeValue;
        }
      }

      ratingDict.minority = ratingDict.minority.toString().replace(",", ", ");

      createRating(ratingDict)
        .then((response) => {
          this.company.ratings.results.unshift(response);
          this.leavingRating = false;
          this.minority = "";
          this.minority_description = "";
        })
        .catch((error) => {
          this.addError(error);
        });
    },
    onFileSelect(e) {
      const file = e.target.files[0];
      var alert = confirm(
        "Are you sure you want to upload this image as the company logo?"
      );
      if (alert == true) {
        updateLogo(this.company.id, file)
          .then(() => {
            this.company.logo = file;
          })
          .catch((error) => {
            this.addError(error);
          });
      }
    },
    goToSignUp: function () {
      this.$router.push({ name: "SignUp" });
    },
    isLoggedIn: function () {
      return this.isLoggedIn();
    },
    getNextRatings: function() {
      window.onscroll = () => {
        let bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight ===
          this.$refs.comppage.offsetHeight + 65;
        if (bottomOfWindow) {
          if(this.company.ratings) {
            if(this.company.ratings.next) {
              axiosInstance()
              .get(this.company.ratings.next)
              .then((response) => {
                this.company.ratings.next = response.data.ratings.next;
                response.data.ratings.results.forEach(rating => {
                  this.company.ratings.results.push(rating);
                })
              })
              .catch((error) => {
                this.addError(error);
              });
            }
          }
        }
      };
    },
    ...mapGetters({
      isLoggedIn: "authStore/isLoggedIn",
    }),
    ...mapActions({
      addError: "errorStore/addError",
    }),
  },
  mounted: function () {
    let app = this;
    this.$nextTick(() => {
      app.fetchCompany();
      app.getNextRatings();
    });
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.company-header {
  .company-container {
    img {
      width: 80px;
      height: 80px;
      border: 2px solid #bbb;
      border-radius: 4px;
      object-fit: cover;
    }

    .text-container {
      margin-top: 0px;
      margin-left: 16px;
    }
  }

  .ratings-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $PADDING;
    row-gap: $PADDING * 2;
    column-gap: $PADDING * 2;

    .span-two {
      grid-column: 1 / 3;
    }
  }
}

.rating-container {
  margin: $PADDING;
  padding: $PADDING;
}

.graph-container {
  height: 80px;
  width: 100px;
  min-width: 100px;
  margin-right: 0px;
  margin-left: auto;
}

.rating-title {
  font-size: 1.2em;
  font-weight: bold;
}

.rating-message {
  color: rgba($color: black, $alpha: 0.7);
}

.rating-comments-container {
  padding-left: $PADDING;
  padding-right: $PADDING;
}

.filter-container-container {
  min-width: 25%;

  .filter-container {
    margin: $PADDING;
    padding: $PADDING;
    display: flex;
    flex-direction: column;

    select {
      height: 32px;
      border: none;
      border-bottom: 1px solid #bbb;
      padding-top: 0px;
    }
  }
}

.minority-text {
  margin-top: $PADDING/2;
  margin-bottom: $PADDING;
}

.leave-rating-container {
  margin: $PADDING;
}

textarea {
  resize: none;
  margin-top: $PADDING/2;
  margin-bottom: $PADDING/2;
  padding: $PADDING/2;
  border: 1px solid #bbb;
}

.photo-selector {
  width: 120px;
  overflow: hidden;
}
</style>
