<template>
  <div class="page flex-column">
    <div class="content">
      <img src="/assets/diversity.jpeg" alt="" srcset="" />
      <div class="input-container-container">
        <div class="input-container">
          <form @submit.prevent="goToSearchCompanies()" class="standard-form">
            <h1 class="title">Find a Company</h1>
            <input
              type="text"
              v-model="companyName"
              name=""
              id=""
              placeholder="Type a company in here to get started..."
              required
            />
            <primary-button
              title="Search"
              type="submit"
              class="submit-button"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PrimaryButton from "../components/PrimaryButton.vue";

export default {
  name: "Home",
  components: { PrimaryButton },
  data: function () {
    return {
      companyName: "",
    };
  },
  methods: {
    goToSearchCompanies: function () {
      this.$router.push({
        name: "SearchResults",
        params: {
          searchTerm: this.companyName,
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.content {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  img {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }

  .input-container-container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;

    .input-container {
      margin: auto;
      background-color: rgba($color: #ffffff, $alpha: 1);
      padding: 16px;
      padding-left: 24px;
      padding-right: 24px;
      width: 50%;
      display: flex;
      flex-direction: column;
      border-radius: 4px;

      @media (max-width: $MOBILE_WIDTH) {
        width: 80%;
      }

      .title {
        text-align: center;
        margin: auto;
        margin-bottom: 16px;
      }

      input {
        flex-grow: 1;
        padding: 8px;
        border: none;
        border-bottom: 1px solid #bbb;
      }
    }
  }
}
</style>
