<template>
  <div class="page" style="position: relative">
    <img src="/assets/diversity.jpeg" alt="" srcset="" class="overlay" />
    <div class="login-container">
      <form @submit.prevent="login()" class="standard-form">
        <h3 style="" class="title">Login</h3>
        <label for="email" class="title">Email</label>
        <input
          required
          v-model="loginData.username"
          type="email"
          name="email"
          placeholder="welcome@diworkity.com"
        />
        <label for="password" class="title">Password</label>
        <input
          required
          v-model="loginData.password"
          type="password"
          name="password"
          placeholder="8 characters or more"
        />
        <secondary-button type="submit" class="submit-button" title="Login" />
      </form>
    </div>
  </div>
</template>

<script>
import SecondaryButton from "../components/SecondaryButton.vue";
import { login } from "../api/requests/auth.js";
import { mapActions } from "vuex";

export default {
  name: "Login",
  components: { SecondaryButton },
  data: function () {
    return {
      loginData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    login: function () {
      const loginData = this.loginData;
      loginData["email"] = this.loginData.username;
      login(loginData)
        .then((response) => {
          this.setAuthToken(response.key);
          this.$router.push({ name: "Home" });
        })
        .catch(() => {
          alert(
            "Sorry! It looks like we couldn't log you in with those credentials."
          );
        });
    },
    ...mapActions({
      setAuthToken: "authStore/setAuthToken",
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.login-container {
  padding: $PADDING;
  margin: auto;
  box-shadow: 2px 2px 3px 3px rgba($color: #bbb, $alpha: 0.3);
  width: 50%;
  background-color: white;
  border-radius: 4px;

  @media (max-width: $MOBILE_WIDTH) {
    width: 80%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
</style>
