<template>
  <div class="page">
    <div class="flex-row" style="height: 100%">
      <div class="search-container">
        <form @submit.prevent="loadCompanies()" class="standard-form">
          <label for="company">Company</label>
          <input
            v-model="searchDict.name"
            type="text"
            name="company"
            id=""
            placeholder="Company"
            required
          />
          <primary-button class="submit-button" title="Search" />
        </form>
        <div class="add-company-container">
          <p v-if="isLoggedIn()">Can't find your company? Add it here!</p>
          <p v-if="!isLoggedIn()">Can't find your company? Sign Up and Add it here!</p>
          <secondary-button title="Add Company" v-on:click="goToAddCompany()" />
        </div>
      </div>
      <div class="mobile-add-company-container shadow">
        <p v-if="isLoggedIn()">Can't find your company? Add it here!</p>
        <p v-if="!isLoggedIn()">Can't find your company? Sign Up and Add it here!</p>
        <secondary-button title="Add Company" v-on:click="goToAddCompany()" />
      </div>
      <div ref="results" class="results-container">
        <h1
          style="text-align: center; margin-top: 10%"
          v-if="companies.length <= 0"
        >
          Sorry, there doesn't seem to be any companies that match that name.
          You should add it!
        </h1>
        <div
          class="result-container"
          v-for="company in companies.results"
          v-bind:key="company.id"
          v-on:click="goToCompany(company)"
        >
          <company-header
            :name="company.name"
            :logo="company.logo"
            :officeCount="company.office_count"
            :ratingCount="company.rating_count"
            :rating="company.avg_rating.personal_rating"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PrimaryButton from "../components/PrimaryButton.vue";
import SecondaryButton from "../components/SecondaryButton.vue";
import { searchCompany } from "../api/requests/company.js";
import CompanyHeader from "../components/CompanyHeader.vue";
import { mapActions, mapGetters } from "vuex";
import { axiosInstance } from "../api/managers/axiosHandler.js";

export default {
  name: "SearchResults",
  components: { PrimaryButton, SecondaryButton, CompanyHeader },
  data: function () {
    return {
      searchDict: {
        name: "",
      },
      companies: [],
    };
  },
  methods: {
    loadCompanies: function () {
      searchCompany(this.searchDict)
        .then((response) => {
          this.companies = response;
        })
        .catch((error) => {
          this.addError(error);
        });
    },
    goToAddCompany: function () {
      if(this.isLoggedIn()) {
        this.$router.push({ name: "AddCompany" });
      } else {
        this.$router.push({ name: "SignUp" });
      }
    },
    goToCompany: function (company) {
      this.$router.push({ name: "Company", params: { id: company.id } });
    },
    getNextCompanies: function() {
      this.$refs.results.onscroll = () => {
        let bottomOfWindow =
          this.$refs.results.scrollTop ===
          this.$refs.results.scrollHeight - this.$refs.results.offsetHeight;
        if (bottomOfWindow) {
          if(this.companies) {
            if(this.companies.next) {
              axiosInstance()
              .get(this.companies.next)
              .then((response) => {
                this.companies.next = response.data.next;
                response.data.results.forEach(company => {
                  this.companies.results.push(company);
                })
              })
              .catch((error) => {
                this.addError(error);
              });
            }
          }
        }
      };
    },
    ...mapActions({
      addError: "errorStore/addError",
    }),
    ...mapGetters({
      isLoggedIn: "authStore/isLoggedIn",
    }),
  },
  mounted: function () {
    this.searchDict.name = this.$route.params.searchTerm;
    let app = this;
    this.$nextTick(() => {
      app.loadCompanies();
      app.getNextCompanies();
    });
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.search-container {
  width: 250px;
  height: 100%;
  border-right: 1px solid #bbb;
  display: flex;
  flex-direction: column;

  @media (max-width: $MOBILE_WIDTH) {
    display: none;
  }
}

.results-container {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  overflow: scroll;

  .result-container {
    display: flex;
    border-bottom: 1px solid #bbb;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #bbb, $alpha: 0.2);
    }

    .title {
      font-size: 1.4em;
    }

    .subtitle {
      font-weight: bold;
    }
  }
}

.add-company-container {
  border-top: 1px solid #bbb;
  margin-top: auto;
  margin-bottom: 0px;
  padding: $PADDING;

  p {
    margin-bottom: $PADDING;
  }
}

.mobile-add-company-container {
  @extend .add-company-container;
  width: 33%;
  position: absolute;
  background-color: white;
  bottom: 8px;
  right: 8px;
  border: 1px solid #bbb;
  z-index: 999;

  @media (min-width: $MOBILE_WIDTH) {
    display: none;
  }
}
</style>
