<template>
  <graphic-split-page>
    <form @submit.prevent="signUp()" class="sign-up-form">
      <h3 style="" class="title">Sign Up</h3>
      <label for="email" class="title">Email</label>
      <input
        required
        v-model="signUpData.username"
        type="email"
        name="email"
        placeholder="welcome@diworkity.com"
      />
      <label for="password" class="title">Password</label>
      <input
        required
        v-model="signUpData.password1"
        type="password"
        name="password"
        placeholder="8 characters or more"
      />
      <label for="password2" class="title">Confirm Password</label>
      <input
        required
        v-model="signUpData.password2"
        type="password"
        name="password2"
        placeholder="Confirm password"
      />
      <secondary-button type="submit" class="sign-up-button" title="Sign Up" />
    </form>
  </graphic-split-page>
</template>

<script>
import SecondaryButton from "../components/SecondaryButton.vue";
import { signUp } from "../api/requests/auth.js";
import GraphicSplitPage from "../components/GraphicSplitPage.vue";
import { mapActions } from "vuex";

export default {
  name: "SignUp",
  components: { SecondaryButton, GraphicSplitPage },
  data: function () {
    return {
      signUpData: {
        username: "",
        password1: "",
        password2: "",
      },
    };
  },
  methods: {
    signUp: function () {
      const signUpData = this.signUpData;
      signUpData["email"] = this.signUpData.username;
      signUp(signUpData)
        .then(() => {
          this.$router.push({name: "VerifyEmailSent"});
        })
        .catch((error) => {
          this.addError(error)
        });
    },
    ...mapActions({
      addError: "errorStore/addError",
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.sign-up-form {
  border-radius: 8px;
  margin: auto;
  width: 66%;
  display: flex;
  flex-direction: column;
  padding: $PADDING;

  input {
    height: 32px;
    border: none;
    border-bottom: 1px solid #bbb;
    background-color: transparent;
    padding-left: 4px;
    font-weight: bold;
  }

  .sign-up-button {
    margin-left: auto;
    margin-top: $PADDING;
    width: 100px;
  }
}

.title {
  padding-top: $PADDING;
}
</style>
