<template>
  <div class="page flex-column" style="position: relative">
    <img src="/assets/diversity.jpeg" alt="" srcset="" class="overlay" />
    <div class="verify-container">
      <h1>Verify Email</h1>
      <p>
        An email has been sent to the account you registered. Please confirm it
        to get started with Diworkity!
      </p>
    </div>
  </div>
</template>

<script>

export default {
  name: "VerifyEmailSent",
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.verify-container {
  padding: $PADDING;
  margin: auto;
  box-shadow: 2px 2px 3px 3px rgba($color: #bbb, $alpha: 0.3);
  width: 50%;
  background-color: white;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
</style>
