<template>
  <div class="company-header">
    <div class="company-container span-two flex-row">
      <img :src="logo ? logo : '/assets/nologo.png'" alt="" />
      <div class="text-container">
        <h1>{{ name }}</h1>
        <h3>
          {{ officeCount }} {{ officeCount == 1 ? "Office" : "Offices" }},
          {{ ratingCount }} {{ ratingCount == 1 ? "Rating" : "Ratings" }}
        </h3>
      </div>
    </div>
    <div class="flex-row">
      <div v-if="showDescription">
        <p class="rating-title">Average Personal Rating</p>
        <p class="rating-message">
          The Personal Rating is based on how much the raters like to work
          there.
        </p>
      </div>
      <div class="graph-container">
        <apexchart
          height="162"
          type="radialBar"
          :options="options"
          :series="avgPersonalSeries()"
        ></apexchart>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue3-apexcharts";

export default {
  name: "CompanyHeader",
  components: { apexchart: VueApexCharts },
  props: [
    "name",
    "officeCount",
    "rating",
    "ratingCount",
    "showDescription",
    "logo",
  ],
  methods: {
    avgPersonalSeries: function () {
      return [Math.round((this.rating / 5) * 100)];
    },
  },
  data: function () {
    return {
      options: {
        plotOptions: {
          radialBar: {
            startAngle: -145,
            endAngle: 145,
            track: {
              background: "#e7e7e7",
              strokeWidth: "97%",
            },
            dataLabels: {
              name: {
                show: false,
              },
              value: {
                offsetY: 5,
                fontSize: "22px",
              },
            },
          },
        },
        grid: {
          padding: {
            top: -22,
            bottom: -12,
          },
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.company-header {
  padding: $PADDING;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .company-container {
    img {
      width: 80px;
      height: 80px;
      border: 2px solid #bbb;
      border-radius: 4px;
      object-fit: cover;
    }

    .text-container {
      margin: auto;
      margin-left: 16px;
    }
  }

  .ratings-container {
    padding: $PADDING;
    row-gap: $PADDING * 2;
    column-gap: $PADDING * 2;
  }

  .span-two {
    grid-column: 1 / 3;
  }
}

.rating-title {
  font-size: 1.2em;
  font-weight: bold;
}

.rating-message {
  color: rgba($color: black, $alpha: 0.7);
}
</style>
