<template>
    <div class="modal-background">
        <div class="modal-content">
            <div class="flex-row vertical-spacing">
                <h1 class="title">Error</h1>
                <button class="close-button" v-on:click="popError()">X</button>
            </div>
            <p class="spacing">{{ getError() }}</p>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "ErrorModal",
    props: ["error",],
    methods: {
      getError: function () {
        if (this.error) {
            if (this.error.response?.data?.detail) {
                return this.error.response?.data?.detail;
            } else if (this.error.response?.data?.non_field_errors) {
                var error = "";
                this.error.response?.data?.non_field_errors.forEach((error1) => {
                    error += error1;
                    error += " ";
                });
                return error;
            } else if (typeof this.error === "string") {
                return this.error;
            }
            return this.error;
        }
        return "Something went wrong...";
      },
      popError: function() {
          this.removeError();
      },
      ...mapActions({
        removeError: "errorStore/removeError",
      }),
    }
}
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.modal-background {
    background-color: rgba($color: black, $alpha: 0.2);
    display: flex;
}

.modal-content {
    background-color: white;
    margin: auto;
    width: 85%;
}

.close-button {
    margin-right: 8px;
    margin-left: auto;
    width: 40px;
    border: none;
    background-color: transparent;
    color: $COLOUR_PRIMARY;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}

.title {
    text-align: center;
    flex-grow: 1;
}
</style>