<template>
  <div id="split-page" class="page" style="flex-direction: row">
    <div class="feature-image">
      <img src="/assets/diversity.jpeg" />
    </div>
    <div class="content-container">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "GraphicSplitPage.vue",
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

#split-page {
  display: flex;

  .feature-image {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  .content-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $MOBILE_WIDTH) {
      flex-grow: 3;
    }
  }
}
</style>
