<template>
  <div id="nav" class="flex-row">
    <button class="title" v-on:click="goHome()">Diworkity</button>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  methods: {
    goHome: function () {
      this.$router.push({ name: "Home" });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

#nav {
  padding-left: $PADDING;
  padding-right: $PADDING;
  height: 64px;
  min-height: 64px;
  background-color: white;
  border-bottom: 1px solid #bbb;
  box-shadow: 2px 2px 3px 3px rgba($color: #bbb, $alpha: 0.1);

  .title {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
</style>
