<template>
  <button class="button">{{ title }}</button>
</template>

<script>
export default {
  name: "PrimaryButton",
  props: ["title"],
};
</script>

<style lang="scss" scoped>
@import "../scss/_variables.scss";

.button {
  cursor: pointer;
  color: $COLOUR_BACKGROUND;
  background: $COLOUR_PRIMARY;
  text-align: center;
  border: 2px solid $COLOUR_PRIMARY;
  border-radius: 4px;
  padding: 8px;
}
</style>
