<template>
  <div class="app-landing">
    <nav-bar>
      <primary-button
        v-if="!isLoggedIn()"
        title="Sign Up"
        class="flex-center-vertical flex-row-end"
        v-on:click="goToSignUp()"
      />
      <secondary-button
        v-if="!isLoggedIn()"
        title="Login"
        class="flex-center-vertical flex-row-end"
        style="margin-left: 8px"
        v-on:click="goToLogin()"
      />
    </nav-bar>
    <router-view class="flex-grow-landing" />
    <error-modal class="modal" v-if="error()" :error="error()" />
  </div>
</template>

<script>
import NavBar from "./components/NavBar.vue";
import { mapGetters } from "vuex";
import PrimaryButton from "./components/PrimaryButton.vue";
import SecondaryButton from "./components/SecondaryButton.vue";
import ErrorModal from "./components/ErrorModal.vue";

export default {
  components: { NavBar, PrimaryButton, SecondaryButton, ErrorModal },
  methods: {
    goToSignUp: function () {
      this.$router.push({ name: "SignUp" });
    },
    goToLogin: function () {
      this.$router.push({ name: "Login" });
    },
    isLoggedIn: function () {
      return this.isLoggedIn();
    },
    error: function() {
      return this.getError();
    },
    ...mapGetters({
      isLoggedIn: "authStore/isLoggedIn",
      getError: "errorStore/getError",
    }),
  },
};
</script>

<style lang="scss">
@import "scss/_standards.scss";

* {
  margin: 0px;
  padding: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;
}

.app-landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;

  .flex-grow-landing {
    flex-grow: 1;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
</style>
