@import "./_variables.scss";

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-end {
    margin-right: 8px !important;
    margin-left: auto;
}

.flex-row-start {
    margin-left: 8px !important;
    margin-right: auto;
}

.flex-center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.margin-auto {
    margin: auto;
}

.spacing {
    margin: $PADDING;
}

.vertical-spacing {
    margin-top: $PADDING;
    margin-bottom: $PADDING;
}

.vertical-spacing-top {
    margin-top: $PADDING;
}

.vertical-spacing-half {
    margin-top: $PADDING/2;
    margin-bottom: $PADDING/2;
}

.vertical-spacing-quarter {
    margin-top: $PADDING/4;
    margin-bottom: $PADDING/4;
}

.standard-form {
    display: flex;
    flex-direction: column;
    padding: $PADDING;

    label {
        padding-bottom: $PADDING/4;
        padding-top: $PADDING;
    }

    input {
        height: 32px;
        border: none;
        border-bottom: 1px solid #bbb;
        background-color: transparent;
        padding-left: 4px;
        font-weight: bold;
    }

    select {
        height: 32px;
        border: none;
        border-bottom: 1px solid #bbb;
        padding-top: 0px;
    }

    .description {
        font-size: 0.8em;
        color: rgba($color: black, $alpha: 0.7);
        margin-top: 4px;
        text-align: end;
    }

    .submit-button {
        margin-left: auto;
        margin-top: $PADDING;
        width: 100px;
    }
}

.shadow {
    box-shadow: 2px 2px 3px 3px rgba($color: #bbb, $alpha: 0.2);
}

.border-shadow {
    border-bottom: 1px solid #bbb;
    box-shadow: 2px 2px 3px 3px rgba($color: #bbb, $alpha: 0.1);
}

.alphad-text {
    color: rgba(black, 0.6);
}

.standard-select {
    height: 32px;
    border: none;
    border-bottom: 1px solid #bbb;
    padding-top: 0px;
}

.standard-input {
    height: 32px;
    border: none;
    border-bottom: 1px solid #bbb;
    background-color: transparent;
    padding-left: 4px;
    font-weight: bold;
}

.flex-grow {
    flex-grow: 1;
    flex-basis: 0;
}

.pointer-cursor {
    cursor: pointer;
}